header {
    font-family: "PlayRegular";
    padding: 10px;
    color: #FFF;
}

header a:hover {
    text-shadow: 0px 0px 10px #D795FF;
}

.pagecrm_header-mobile {
    display: block;
    padding: 20px;
}

.pagecrm_header__logo {
    width: 40%;
}

.pagecrm_header__logo img {
    width: 100%;
    height: auto;
}

.pagecrm_first_geader__contacts___phone a {
    color: #FFF;
    font-size: 11px;
    transition: 1s all;
}

.pagecrm_first_geader__contacts___phone a:visited {
    color: #FFF;
}

.pagecrm_first_geader__contacts___phone:hover {
    text-shadow: 0px 0px 10px #D795FF;
}

.pagecrm_header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.header-mobile {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    height: 79px;
    background: none;
}

.pagecrm_header__inputfield {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFF;
    border-radius: 30px;
    background: -webkit-linear-gradient(330deg, #2e335a4d, #1c1b334d);
    max-width: 300px;
    width: 80%;
    z-index: 1;
}

.pagecrm_header__inputfield img:hover {
    cursor: pointer;
}

.pagecrm_header__inputfield input {
    width: 90%;
    background: none;
    color: #FFF;
    z-index: 2;
    padding: 0px 5px;
}

.serach-input {
    color: #FFF;
}

.serach-input::-webkit-input-placeholder {
    color: #FFF;
}

.pagecrm_header__inputfield img {
    padding: 3px 10px;
}

.pagecrm_header__navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 25px;
}

.pagecrm_header__navigation a {
    display: block;
    color: #FFF;
    font-size: 12px;
}

.pagecrm_header__navigation a:visited {
    color: #FFF;
}

.active {
    text-shadow: 0px 0px 10px #E9DEFF;
}

.pagecrm_header-desktop {
    display: none;
}

.pagecrm_footer-desktop__contacts-container__menu img:hover{
    cursor: pointer;
}

@media screen and (min-width:990px) {
    header {
        background: #1d01414d;
    }

    .pagecrm_header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .pagecrm_header__logo-desktop img {
        width: 70%;
    }

    .pagecrm_header-mobile {
        display: none;
    }

    .pagecrm_first_header__menu {
        width: 40%;
        text-transform: uppercase;
    }

    .pagecrm_first_header__menu a:visited {
        color: #FFF;
    }

    .pagecrm_first_header__menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pagecrm_first_geader__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 32%;
        height: 50px;
        gap: 0px 10px;
    }

    .pagecrm_first_geader__contacts img {
        width: 10%;
    }

    .pagecrm_first_geader__contacts___phone a {
        font-family: "PlayRegular";
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #FFF;
        font-size: 12px;
    }

    .pagecrm_first_geader__contacts___question button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        border: 1px solid transparent !important;
        background: linear-gradient(#1E0044, #1E0044) padding-box, linear-gradient(to right, #383fec, #23ffff) border-box !important;
        box-shadow: 0px 0px 10px #D795FF !important;
        backdrop-filter: blur(50px) !important;
        border-radius: 10px;
        padding: 10px 20px;
        color: #FFF;
        text-transform: uppercase;
        transition: 1s all;
    }


    .pagecrm_first_geader__contacts___question button:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 3.6176px #00FFE1) drop-shadow(0px 0px 5.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
    }

    .pagecrm_first_geader__contacts___question button:active {
        transform: scale(1.1);
    }
}

/* header {
    font-family: "PlayRegular";
    padding: 10px;
    color: #FFF;
}


.header-mobile {
border: 1px solid black;
}

.pagecrm_header-desktop {
    display: none;
}


header a:hover {
    text-shadow: 0px 0px 10px #D795FF;
}

.pagecrm_header__logo {
    width: 40%;
}

.pagecrm_header__logo img {
    width: 100%;
    height: auto;
}

.pagecrm_first_geader__contacts___phone a {
    color: #FFF;
    font-size: 11px;
    transition: 1s all;
}

.pagecrm_first_geader__contacts___phone a:visited {
    color: #FFF;
}

.pagecrm_first_geader__contacts___phone:hover {
    text-shadow: 0px 0px 10px #D795FF;
}

.pagecrm_header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.header-mobile {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    height: 79px;
    background: none;
}

.pagecrm_header__inputfield {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFF;
    border-radius: 30px;
    background: -webkit-linear-gradient(330deg, #2e335a4d, #1c1b334d);
    max-width: 300px;
    width: 80%;
    z-index: 1;
}

.pagecrm_header__inputfield img:hover {
    cursor: pointer;
}

.pagecrm_header__inputfield input {
    width: 90%;
    background: none;
    color: #FFF;
    z-index: 2;
    padding: 0px 5px;
}

.serach-input {
    color: #FFF;
}

.serach-input::-webkit-input-placeholder {
    color: #FFF;
}

.pagecrm_header__inputfield img {
    padding: 3px 10px;
}

.pagecrm_header-desktop {
    display: none;
}

@media screen and (min-width:990px) {
    .header-mobile {
        display: none;
    }

    .pagecrm_header-desktop {
        display: block;
        background: #1d01414d;
        border: 1px solid black;
    }
}

.pagecrm_header__navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.pagecrm_header__navigation a {
    display: block;
    color: #FFF;
    font-size: 12px;
}

.pagecrm_header__navigation a:visited {
    color: #FFF;
}

.active {
    text-shadow: 0px 0px 10px #E9DEFF;
} */